<div class="container">
    <div id="images">
        <div class="columns is-mobile is-multiline">
            <div class="column is-6-mobile is-3-tablet is-2-desktop is-2-widescreen is-2-fullhd" *ngFor="let image of images; let i = index">
                <img src="https://image.tmdb.org/t/p/w500{{image.file_path}}" (click)="previewImage(image, i)" />
            </div>
        </div>
    </div>
    <section class="imagesModal {{modalOpen ? 'open' : ''}}">
        <div class="modal__bg" (click)="closeModal()"></div>
        <img class="currentImage" src="https://image.tmdb.org/t/p/w500{{images.posters[currentImage].file_path}}" />
    </section>
</div>