<h1 class="news__title">News</h1>
<div class="columns is-multiline is-mobile" *ngIf="news" [@newsAnimation]="news.length">
    <a class="column is-6-mobile is-4-tablet is-3-desktop is-3-widescreen is-3-fullhd" *ngFor="let item of news" href="{{item.link}}" target="_blank">
        <div class="news">
            <figure class="news__image">
                <img class="news__toc" src="{{item.featured_image.source}}" alt="{{item.title}}">
            </figure>
            <figcaption class="news__content">
                <p [innerHTML]=item.title></p>
            </figcaption>
        </div>
    </a>
</div>