<div id="search">
    <input id="search__input" placeholder="Search Something" type="text" (keyup)="onKey($event)" [(ngModel)]="search" />
    <div id="search__results" class="columns is-mobile is-multiline" *ngIf="results" [@searchAnimation]="results.length">
        <a class="search__result column is-6 is-4-mobile is-3-tablet is-2-desktop is-2-widescreen is-2-fullhd" *ngFor="let result of results" (click)="gotoDetail(result)">
            <figure class="search__result-poster">
                <img src="https://image.tmdb.org/t/p/w500{{result.poster_path}}" />
                <figcaption>{{result.title ? result.title : result.name}}</figcaption>
            </figure>
        </a>
    </div>
</div>