#search {
    position: relative;
    max-width: 425px;
    width: 100%;
    margin: auto;
}
#search__results {

}
#search__input {
    width: 100%;
    padding: 10px;
}
.search__result-title {
    color: #fcb208;
}