.cast {
    transition: transform 0.3s ease;
}
.cast:hover {
    transform: translateY(10px) !important;
}
.cast__image img {
    border-radius: 5px;
    display: block;
    width: 100%;
}
.cast__info {
    background-color: #ffffff;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.cast__name {
    font-weight: bold;
    display: block;
}