.cast {
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
    &:hover {
        transform: translateY(10px) !important;
    }
}
.column {
    padding: 0;
}
.cast__image {
    width: 35%;
}
.image {
    display: block;
    width: 100%;
}
.cast__info {
    background-color: #ffffff;
    padding: 10px;
    width: 65%;
}
.cast__name {
    font-weight: bold;
    display: block;
}

@media screen and (min-width: 768px) {
    .cast__image, .cast__info {
        width: 100%;
    }
}