.cast {
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
    &:hover {
        transform: translateY(10px) !important;
    }
}
.column {
    padding: 0;
}
.cast__image {
    display: block;
    width: 100%;
}
.cast__info {
    background-color: #ffffff;
    padding: 10px;
}
.cast__name {
    font-weight: bold;
    display: block;
}