.image__source {
    transform: scale(1);
    transition: transform 0.4s ease;
    border-radius: 5px;
}
.image__caption {
    color: #f5685e;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 10px;
}