<nav id="nav" role="navigation" aria-label="main navigation">
    <div class="container">
        <a id="logo" routerLink="/">Movie Paradise</a>
        <a class="nav__link" routerLink="/movies/now_playing">Movies</a>
        <a class="nav__link" routerLink="/tvs/airing_today/page/1">Tv Show</a>
        <a class="nav__link" routerLink="/persons/popular">People</a>
        <a class="nav__link" routerLink="/news">News</a>
        <div class="navbar-item" *ngIf="sessionId != ''"><a>{{ username }}</a></div>
        <div class="navbar-item" *ngIf="sessionId != ''"><a (click)="logout()">Logout</a></div>
    </div>
    <div class="container" id="search">
        <input id="search__input" placeholder="Search Something" type="text" (keyup)="onKey($event)" [(ngModel)]="search" />
        <div id="search__results" *ngIf="results" [@searchAnimation]="results.length">
            <a class="search__result" *ngFor="let result of results" (click)="gotoDetail(result)">{{result.title ? result.title : result.name}}</a>
        </div>
    </div>
</nav>

<!--The whole content below can be removed with the new code.-->
<!--<div class="row" *ngIf="sessionId == ''">-->
<!--    <form class="col s12">-->
<!--        <div class="row">-->
<!--            <div class="input-field col s12">-->
<!--                <input id="username" name="username" type="text" class="validate" [(ngModel)]="username">-->
<!--                <label for="username">Username</label>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="input-field col s12">-->
<!--                <input id="password" name="password" type="password" class="validate" [(ngModel)]="password">-->
<!--                <label for="password">Password</label>-->
<!--            </div>-->
<!--        </div>-->
<!--        <a (click)="login()" class="waves-effect waves-light btn">Login</a>-->
<!--    </form>-->
<!--</div>-->
<main id="mainContainer" class="container fluid">
  <router-outlet></router-outlet>
</main>