#nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(51,51,51,.95);
    z-index: 11;
    padding: 10px 0;
}
#logo {
    display: inline-block;
    color: #ffffff;
    margin-right: 10px;
    font-size: 1.8em;
}
.nav__link {
    display: inline-block;
    padding: 10px;
    color: #fcb208;
    transition: color 0.3s;
    position: relative;
    &:before {
        position: absolute;
        content: '';
        width: 0;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #fcb208;
        transition: width 0.4s ease;
    }
}
.nav__link:hover:before {
    width: 100%;
}
#mainContainer {
    margin-top: 125px;
}
#search {
    display: inline-block;
    position: relative;
    width: 300px;
}
#search__results {
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
}
.search__result {
    display: block;
    cursor: pointer;
    padding: 10px;
    transition: all 0.2s ease;
    color: #ffffff;
    background-color: #232b31;
}
.search__result:hover {
    color: #fcb208;
}
.search__result-poster img {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
}
.search__result-poster figcaption {
    display: inline-block;
    vertical-align: middle;
}
#search__input {
    width: 100%;
    padding: 10px;
}