<div class="tab" *ngIf="id">
    <a class="tab__link" [routerLink]="['/', type, id]">Home</a>
    <a class="tab__link" [routerLink]="['/', type, id, 'reviews']">Reviews</a>
    <a class="tab__link" [routerLink]="['/', type, id, 'images']">Images</a>
    <a class="tab__link" [routerLink]="['/', type, id, 'casts']">Casts</a>
</div>
<div class="container">
    <div class="columns is-multiline is-mobile" *ngIf="credits">
        <person class="column is-6-mobile is-3-tablet is-2-desktop is-2-widescreen is-2-fullhd" *ngFor="let cast of credits.cast" [person]=cast></person>
        <person class="column is-6-mobile is-3-tablet is-2-desktop is-2-widescreen is-2-fullhd" *ngFor="let cast of credits.crew" [person]=cast></person>
    </div>
</div>