<div class="tab" *ngIf="id">
    <a class="tab__link" [class.is-active]="tab.link == 'casts'" *ngFor="let tab of tabs" [routerLink]="(tab.link) ? ['/', type, id, tab.link] : ['/', type, id]">{{tab.title}}</a>
</div>
<div class="container">
    <div class="columns is-multiline is-mobile" *ngIf="credits && type != 'person'">
        <person class="column is-6-mobile is-3-tablet is-2-desktop is-2-widescreen is-2-fullhd" *ngFor="let cast of credits.cast" [person]=cast></person>
        <person class="column is-6-mobile is-3-tablet is-2-desktop is-2-widescreen is-2-fullhd" *ngFor="let cast of credits.crew" [person]=cast></person>
    </div>
</div>
<section class="casts container" *ngIf="credits && type == 'person'">
    <!--<div>Sort by: <a (click)="sortBy('date')">Date</a> <a (click)="sortBy('rate')">Rating</a></div>-->
    <div class="columns is-mobile is-multiline">
        <single-movie class="column is-4-mobile is-3-tablet is-2-desktop is-2-widescreen is-2-fullhd" *ngFor="let cast of credits.cast" [movie]=cast [list]=cast.media_type></single-movie>
    </div>
</section>