<div id="person" *ngIf="person">
    <section class="columns">
        <div class="column is-4">
            <figure>
                <img src="https://image.tmdb.org/t/p/w500{{person.profile_path}}" />
            </figure>
        </div>
        <div class="column is-8">
            <h1>{{person.name}}</h1>
            <div><span class="label">Birthday:</span>{{person.birthday}}</div>
            <div *ngIf="person.homepage"><span class="label">Homepage:</span><a class="homepage" href="{{person.homepage}}" target="_blank">{{person.homepage}}</a></div>
            <div><span class="label">IMDB:</span><a target="_blank" class="homepage" href="https://www.imdb.com/name/{{person.imdb_id}}">{{person.imdb_id}}</a></div>
            <div><span class="label">Bio:</span><p>{{person.biography}}</p></div>
        </div>
    </section>
</div>