<div class="columns is-mobile is-multiline" *ngIf="movies">
    <single-movie class="column is-6-mobile is-3-tablet is-2-desktop is-2-widescreen is-2-fullhd" *ngFor="let movie of movies.results" [movie]=movie></single-movie>
</div>
<nav class="pagination is-centered" role="navigation" aria-label="pagination" *ngIf="totalPages">
    <a class="pagination-previous">Previous</a>
    <a class="pagination-next">Next</a>
    <ul class="pagination-list">
        <li *ngFor="let page of totalPages">
            <a [routerLink]="['/',list + 's', type, 'page', (page+1)]" class="pagination-link" [class.is-current]="currentPage == (page+1)"  aria-current="page">{{page+1}}</a>
        </li>
    </ul>
</nav>