<div class="columns is-mobile is-multiline" [@moviesAnimation]="movies.results.length" *ngIf="movies">
    <single-movie class="column is-4-mobile is-3-tablet is-2-desktop is-2-widescreen is-2-fullhd" *ngFor="let movie of movies.results" [movie]=movie [list]=list></single-movie>
</div>
<nav id="pagination" role="navigation" aria-label="pagination" *ngIf="totalPages">
    <ul class="pagination-list">
        <li *ngFor="let page of totalPages">
            <a [routerLink]="['/',list + 's', type, 'page', (page+1)]" class="pagination-link" [class.is-current]="currentPage == (page+1)"  aria-current="page">{{page+1}}</a>
        </li>
    </ul>
</nav>