<div class="columns is-mobile is-multiline" *ngIf="movies">
    <!--<single-movie *ngFor="let movie of movies.results" [movie]=movie></single-movie>-->
    <a *ngFor="let movie of movies.results" class="movie column is-6-mobile is-3-tablet is-2-desktop is-2-widescreen is-one-quarter-fullhd" [routerLink]="['/movie', movie.id]">
        <figure class="image">
            <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="{{ movie.title }}" />
        </figure>
        <span class="rating">{{movie.vote_average}}</span>
    </a>
</div>
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <a class="pagination-previous">Previous</a>
    <a class="pagination-next">Next page</a>
    <ul class="pagination-list">
        <li *ngFor="let page of totalPages"><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">{{page}}</a></li>
    </ul>
</nav>