.movie {
    margin-bottom: 20px;
    border-radius: 5px;
    position: relative;
}

.rating {
    border-radius: 5px;
    padding: 5px;
    background-color: #ffb207;
    color: #ffffff;
}

.movie .rating {
    position: absolute;
    top: 12px;
    left: 12px;
}

img {
    border-radius: 5px;
}