.movie {
    border-radius: 5px;
    position: relative;
    display: block;
    transition: transform 0.4s ease;
    &:hover {
        transform: rotate3d(1, 2, 1, 15deg);
    }
}

.movie__rating {
    border-radius: 5px;
    padding: 5px;
    background-color: #ffb207;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    &.green {
        background-color: #43a047;
    }
    &.red {
        background-color: #ef5350;
    }
}
.movie__date {
    color: #fcb208;
}
.movie__character {
    color: #ea7f30;
}