.movie {
    border-radius: 5px;
    position: relative;
    display: block;
    transition: all 0.4s ease;
}
.movie:nth-last-of-type(-n+2) {
    border-radius: 10px;
}
.movie:hover {
    
}

.movie__image {
    transform: scale(1);
    transition: transform 0.4s ease;
}
.movie__image:hover {
    transform: rotate3d(1, 2, 1, 15deg);
}
.rating {
    border-radius: 5px;
    padding: 5px;
    background-color: #ffb207;
    color: #ffffff;
}
.movie_title {
    color: #cac1c1;
    font-size: 1rem;
}
.movie .rating {
    position: absolute;
    top: 12px;
    left: 12px;
}
.movie img {
    border-radius: 5px;
}