<div class="tabs is-centered">
  <ul>
      <li class="tab col s3" *ngFor="let link of links"><a [class.is-active]="selectedLink == link" [routerLink]="['/persons', link]" (click)="selectedLink=link">{{link}}</a></li>
  </ul>
</div>
<div class="container fluid">
    <div class="columns is-mobile is-multiline" *ngIf="persons">
  <a *ngFor="let p of persons.results" class="column is-6-mobile is-3-tablet is-2-desktop is-2-widescreen">
    <figure class="image">
      <img src="https://image.tmdb.org/t/p/w500{{p.profile_path}}" alt="{{ p.name }}" />
  </figure>
  </a>
  </div>
</div>
