<div class="movie__tabs tab" *ngIf="tv">
    <a class="tab__link is-active" [routerLink]="['/tv', tv.id]">Home</a>
    <a class="tab__link" [routerLink]="['/tv', tv.id, 'images']">Images</a>
    <a class="tab__link" [routerLink]="['/tv', tv.id, 'casts']">Casts</a>
</div>
<div id="tv" *ngIf="tv">
    <div class="backdrop" [style.background-image]="'url(https://image.tmdb.org/t/p/w1400_and_h450_bestv2/' + tv.backdrop_path + ')'"></div>
    <section class="tv__home columns is-mobile is-multiline">
        <div class="column is-4">
            <image [path]=tv.poster_path [alt]=tv.name [caption]=""></image>
        </div>
        <div class="column is-8">
            <div class="tv__info">
                <h1 class="tv__title">{{tv.name}} - {{tv.vote_average}}</h1>
                <div class=""><span class="label">First Air Date:</span>{{tv.first_air_date}}</div>
                <div class=""><span class="label">Last Air Date:</span>{{tv.last_air_date}}</div>
                <div class=""><span class="label">Status:</span>{{tv.status}}</div>
                <div class="tv__overview">
                    <h3 class="label">Overview:</h3>
                    <p>{{tv.overview}}</p>
                </div>
                <div class=""><span class="label">Homepage:</span><a class="homepage" target="_blank" href="{{tv.homepage}}">{{tv.homepage}}</a></div>
                <div class="">
                    <span class="label">Genres:</span>
                    <span class="tv__genre" *ngFor="let g of tv.genres">{{g.name}}</span>
                </div>
                <div class="">
                    <span class="label">Networks:</span>
                    <span class="tv__network" *ngFor="let n of tv.networks">
                        <img src="https://image.tmdb.org/t/p/w500{{n.logo_path}}" alt="{{n.name}}" />
                    </span>
                </div>
                <div class="" *ngIf="tv.production_companies.length">
                    <span class="label">Production Companies:</span><br/>
                    <span class="tv__company" *ngFor="let c of tv.production_companies">{{c.name}}</span>
                </div>
                <div class="">
                    <h3 class="label">Seasons:</h3><br/>
                    <figure class="tv__season" *ngFor="let s of tv.seasons">
                        <img src="https://image.tmdb.org/t/p/w500{{s.poster_path}}" alt="{{s.name}}" />
                        <figcaption>{{s.name}}</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>
</div>