#tv,
section {
    position: relative;
    z-index: 1;
}
.tv__info {
    color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.6);
}
.tv__title {
    font-size: 2em;
}
.tv__genre,
.tv__network,
.tv__company,
.tv__season {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}
.tv__network {
    width: 60px;
    img {
        width: 100%;
    }
}
.tv__season {
    width: 100px;
}