img {
    width: 100%;
}

#header {
    padding-top: 40px;
    color: #ffffff;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.release-date {
    opacity: 0.6;
}

.card-content {
    padding: 10px;
}

#casts .name {
    font-weight: bold;
}