<div class="tab" *ngIf="movie">
    <a class="tab__link" (click)="changeSection('home')" [routerLink]="['/movie', movie.id]">Home</a>
    <a class="tab__link" (click)="changeSection('reviews')" [routerLink]="['/movie', movie.id, 'reviews']">Reviews</a>
    <a class="tab__link" (click)="changeSection('videos')" [routerLink]="['/movie', movie.id, 'videos']">Videos</a>
    <a class="tab__link" (click)="changeSection('images')" [routerLink]="['/movie', movie.id, 'images']">Images</a>
    <a class="tab__link" (click)="changeSection('casts')" [routerLink]="['/movie', movie.id, 'casts']">Casts</a>
</div>
<div id="movie" *ngIf="movie" [style.background-image]="'url(https://image.tmdb.org/t/p/w1400_and_h450_bestv2/' + movie.backdrop_path + ')'">
    <div id="movie__header" *ngIf="section == 'home'">
        <!--<img class="movie__backdrop" src="https://image.tmdb.org/t/p/w1400_and_h450_bestv2/{{movie.backdrop_path}}" />-->
        <div class="movie__info columns">
            <figure class="column is-4">
                <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" />
            </figure>
            <div class="column is-8">
                <h1>{{movie.title}}</h1>
                <div class="movie__date">{{movie.release_date}}</div>
                <div class="movie__rating">{{movie.vote_average}}</div>
                <p>{{movie.tagline}}</p>
                <p>{{ movie.overview }}</p>
                <div class="genres">
                    <span class="label">Genres: </span>
                    <span *ngFor="let genre of movie.genres" class="genre">{{genre.name}}</span>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="data">
                            <h6 class="label">Status:</h6>
                            <p>{{movie.status}}</p>
                        </div>
                        <div class="data">
                            <h6 class="label">Release Information:</h6>
                            <p>{{movie.release_date}}</p>
                        </div>
                        <div class="data">
                            <h6 class="label">Original Language:</h6>
                            <p>{{movie.original_language}}</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="data">
                            <h6 class="label">Runtime:</h6>
                            <p>{{movie.runtime}}</p>
                        </div>
                        <div class="data">
                            <h6 class="label">Revenue:</h6>
                            <p>{{movie.revenue | currency}}</p>
                        </div>
                        <div class="data">
                            <h6 class="label">Homepage:</h6>
                            <p><a href="{{movie.homepage}}" target="_blank">{{movie.homepage}}</a></p>
                        </div>
                        <div class="data">
                            <h6 class="label">Production Companies:</h6>
                            <p *ngFor="let company of movie.production_companies">{{company.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="" *ngIf="movieVideo">-->
    <!--    <div id="videos" *ngIf="movieVideo.results.length != 0">-->
    <!--        <iframe id="ytplayer" type="text/html" width="100%" height="315"-->
    <!--            [src]="getYoutubeEmbed(movieVideo.results[0].key)"-->
    <!--            frameborder="0">-->
    <!--        </iframe>-->
    <!--    </div>-->
    <!--</div>-->
    <div class="" *ngIf="section == 'home'">
        <div id="casts" *ngIf="movieCredits">
            <div class="columns">
                <h5 class="column">Feature Casts</h5>
                <a class="column" [routerLink]="['/movie', movie.id, 'casts']">View full casts</a>
            </div>
            <div class="columns">
                <person class="column is-6-mobile is-3-tablet is-2-desktop is-2-widescreen is-2-fullhd" *ngFor="let cast of movieCredits.cast.slice(0, 6)" [cast]=cast></person>
            </div>
        </div>
        <div id="crews" *ngIf="movieCredits">
            <div class="columns">
                <h5 class="column">Feature Crews</h5>
                <a class="column" [routerLink]="['/movie', movie.id, 'casts']">View full crews</a>
            </div>
            <div class="columns">
                <person class="column is-6-mobile is-3-tablet is-2-desktop is-2-widescreen is-2-fullhd" *ngFor="let cast of movieCredits.crew.slice(0, 6)" [cast]=cast></person>
            </div>
        </div>
        <div id="similar-movies" *ngIf="similarMovies">
            <div class="columns">
                <h5 class="column">Similar Movies</h5>
                <a class="column" [routerLink]="['/movie', movie.id, 'similar']">View All Similar Movies</a>
            </div>
            <movie-list type="movie" list="movie" [movies]=(similarMovies)></movie-list>
        </div>
    </div>
    <div class="container" *ngIf="section == 'reviews'">
        <div id="reviews" *ngIf="movieReviews">
            <h3>Reviews</h3>
            <div class="row card" *ngFor="let review of movieReviews.results">
                <div class="col s2">
                    <p>{{ review.author }}</p>
                </div>
                <div class="col s10">
                    <p>{{ review.content }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="section == 'casts'">
        <div class="row" *ngIf="movieCredits">
            <div class="col s6">
                <div class="row" *ngFor="let cast of movieCredits.cast">
                    <div class="col s4">
                        <img *ngIf="cast.profile_path" src="https://image.tmdb.org/t/p/w500{{cast.profile_path}}">
                    </div>
                    <div class="col s8">
                        <p>{{ cast.name }}</p>
                        <p>{{ cast.character }}</p>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="row" *ngFor="let crew of movieCredits.crew">
                    <div class="col s4">
                        <img *ngIf="crew.profile_path" src="https://image.tmdb.org/t/p/w500{{crew.profile_path}}">
                    </div>
                    <div class="col s8">
                        <p>{{ crew.name }}</p>
                        <p>{{ crew.job }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="section == 'images'">
        <div id="images" *ngIf="movieImages">
            <div class="columns is-mobile is-multiline">
                <div class="column is-6-mobile is-3-tablet is-2-desktop is-2-widescreen is-2-fullhd" *ngFor="let poster of movieImages.posters">
                    <img src="https://image.tmdb.org/t/p/w500{{poster.file_path}}" (click)="previewImage(poster)" />
                </div>
            </div>
            <div class="columns is-mobile is-multiline">
                <div class="column is-6-mobile is-3-tablet is-2-desktop is-2-widescreen is-2-fullhd" *ngFor="let backdrop of movieImages.backdrops">
                    <img src="https://image.tmdb.org/t/p/w500{{backdrop.file_path}}" />
                </div>
            </div>
        </div>
        <section class="movie__imagesModal">
            
        </section>
    </div>
</div>